<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Fleet Management- Spring Boot Web Application</title>
</head>
<body>

	<br />
	<table cellpadding="10">
		<H1 align="center" style="color: green">Welcome to Fleet
			Management</H1>

		<h3 align="center" style="">Project Submitted by Aruna
			Annavajjula</h3>
		<tr align="center">
		
			<td>Welcome User</td>
		</tr>
		</table>
		<table>
		<tr align="right">
			<td ><a href="customers">Customer List</a></td>
			&nbsp;&nbsp;
			<td ><a href="fleetlist">Fleet List</a></td>
		</tr>
	</table>

	<table >
		<tr align="center">
			<img align="center" th:src="jpg.jpg" height="300" width="400"/> <img align="right" th:src="CF.jpg"height="300" width="400"/> />
		</tr>
	</table>

</body>
</html>

